<div class="contents">
  <%= image_tag  current_user.avatar %>
  <h3><%= current_user.nickname %>さんのページ</h3>

  <p><%=current_user.nickname %>の行きたいところ</p>
  <% current_user.plans.each do |plan| %>
  <a href="/plans/<%= plan.id %>">
  <%= plan.destination %>
  </a>

  <% end %>

<p><%= current_user.nickname %>さんの提案</p>

  <% current_user.suggestions.each do |suggestion| %>
  <a href="/plans/<%= suggestion.plan.id %>">
  <%= suggestion.plan.destination %>
  </a>
  <% end %>




  <br>


<p><%= current_user.nickname %>さんの旅行記一覧</p>

  <% current_user.reports.each do |report| %>
  <a href="/reports/<%= report.id %>">
  <%= report.destination %>
  </a>
  <% end %>

<br><br>

  <a href="/reports">旅行記一覧へ</a><br><br>

  <a href="/reports/new">旅行記の投稿</a>

  </p>


</div>
