<div class="contents">
    <h2>新着一覧</h2>
  <% @plans.each do |plan| %>
    <a href="/plans/<%= plan.id %>">
    <table>
      <tr>
        <td>行先</td>
        <td><%= plan.destination %></td>
      </tr>
      <tr>
        <td>時期</td>
        <td><%= plan.season %></td>
      </tr>
      <tr>
        <td>泊数</td>
        <td><%= plan.number_of_nights %></td>
      </tr>
      <tr>
        <td>交通手段</td>
        <td><%= plan.transportation %></td>
      </tr>
      <tr>
        <td>予算</td>
        <td><%= plan.budget %></td>
      </tr>
      <tr>
        <td>備考</td>
        <td><%= plan.remarks %></td>
      </tr>
    </table>
  </a>

  <% end %>
  <%= paginate(@plans) %>
</div>