<div class="contents">
      <h2>要望詳細</h2>
    <table>
      <tr>
        <td>投稿者</td>
        <td><%= @plan.user.nickname %> さん</td>
      </tr>
      <tr>
        <td>出発地</td>
        <td><%= @plan.user.residential_areas %></td>
      </tr>
      <tr>
        <td>行先</td>
        <td><%= @plan.destination %></td>
      </tr>
      <tr>
        <td>時期</td>
        <td><%= @plan.month %><%= @plan.season %></td>
      </tr>
      <tr>
        <td>泊数</td>
        <td><%= @plan.number_of_nights %></td>
      </tr>
      <tr>
        <td>交通手段</td>
        <td><%= @plan.transportation %></td>
      </tr>
      <tr>
        <td>予算</td>
        <td><%= @plan.budget %></td>
      </tr>
      <tr>
        <td colspan="2">備考</td>
      </tr>
      <tr>
        <td colspan="2"><%= simple_format(@plan.remarks) %></td>
      </tr>
    </table>

    <% if user_signed_in? && current_user.id == @plan.user_id %>
    <%= link_to '削除', "#{@plan.id}", method: :delete %>
    <%= link_to '編集', "#{@plan.id}/edit", method: :get %>
    <% end %>

    <br>
    <h2>提案入力</h2>


    <p>提案する文章を入れないと登録されません。バリデーションのエラーメッセージを入れたい</p>


    <%= form_for [@plan, @suggestion] do |f| %>
      <%= f.text_area :text, placeholder: '提案する旅程を入れてください', :size => "50×10" %>
      <%= f.text_field :reference_url, placeholder: '参考URL' %>
      <%= f.submit('投稿する') %>

    <% end %>



    <h2>提案一覧</h2>
      <% if @suggestions %>
        <% @suggestions.each do |suggestion| %>
        <p>
       
        <br>
          投稿者：<%= suggestion.user.nickname %>さん　　<a href="<%= suggestion.reference_url %>">参考URL</a><br>
          提案内容：　　
          <%= simple_format(suggestion.text) %><br>
          

          
        </p>

        <% end %>
      <% end %>
      <br>
      <br>


      <a href="/plans">新着一覧へ戻る</a>




</div>