<div class="contents">
      <h2>要望詳細</h2>
    <table>
      <tr>
        <td>投稿者</td>
        <td><%= @plan.user.nickname %> さん</td>
      </tr>
      <tr>
        <td>出発地</td>
        <td><%= @plan.user.residential_areas %></td>
      </tr>
      <tr>
        <td>行先</td>
        <td><%= @plan.destination %></td>
      </tr>
      <tr>
        <td>時期</td>
        <td><%= @plan.month %><%= @plan.season %></td>
      </tr>
      <tr>
        <td>泊数</td>
        <td><%= @plan.number_of_nights %></td>
      </tr>
      <tr>
        <td>交通手段</td>
        <td><%= @plan.transportation %></td>
      </tr>
      <tr>
        <td>予算</td>
        <td><%= @plan.budget %></td>
      </tr>
      <tr>
        <td>備考</td>
        <td><%= @plan.remarks %></td>
      </tr>
    </table>

    <br>
    <h2>提案入力</h2>
    <%= form_for [@plan, @suggestion] do |f| %>
      <%= f.text_area :text, placeholder: '提案する旅程を入れてください', :size => "50×10" %>
      <%= f.text_field :reference_url, placeholder: '参考URL' %>
      <%= f.submit('投稿する') %>

    <% end %>



    <h2>提案一覧</h2>
      <% if @suggestions %>
        <% @suggestions.each do |suggestion| %>
        <p>
       
        <br>
          提案内容：
          <%= suggestion.text %><br>
          投稿者：<%= suggestion.user.nickname %>　　

          <a href="<%= suggestion.reference_url %>">参考URL</a>
        </p>

        <% end %>
      <% end %>
      <br>
      <br>


      <a href="/plans">新着一覧へ戻る</a>




</div>