<div class="contents">
      <h2>要望詳細</h2>
    <table>
      <tr>
        <td>行先</td>
        <td><%= @plan.destination %></td>
      </tr>
      <tr>
        <td>時期</td>
        <td><%= @plan.season %></td>
      </tr>
      <tr>
        <td>泊数</td>
        <td><%= @plan.number_of_nights %></td>
      </tr>
      <tr>
        <td>交通手段</td>
        <td><%= @plan.transportation %></td>
      </tr>
      <tr>
        <td>予算</td>
        <td><%= @plan.budget %></td>
      </tr>
      <tr>
        <td>備考</td>
        <td><%= @plan.remarks %></td>
      </tr>
    </table>

<!-- ここのエラーが出るところから！ -->
    <br>
    <h2>コメント入力</h2>
    <%= form_for [@plan, @comment] do |f| %>
      <%= f.text_area :text, placeholder: '旅程を入れてください' %>
      <%= f.text_field :reference_url, placeholder: '参考URL' %>
      <%= f.submit('投稿する') %>

    <% end %>

<!-- ここまでコメント入力欄 -->

    <h2>コメント一覧</h2>
      <% if @comments %>
        <% @comments.each do |comment| %>
        <p>
          コメント：
          <%= comment.text %><br>
          参考URL:

          <%= comment.reference_url %>
        </p>

        <% end %>
      <% end %>







</div>