<div class="contents">
  <h3>旅行先で検索</h3>
  <h4>旅行先を選択してください</h4>
  <%= form_tag('/reports/search', method: :get) do %>
    <select  type="text" name="keyword">
      <option></option>
      <option>茨城</option>
      <option>栃木</option>
      <option>群馬</option>
      <option>埼玉</option>
      <option>千葉</option>
      <option>東京</option>
      <option>神奈川</option>
    </select>
  <button title="検索", type="submit">検索</button>
  <% end %>
  <br>
  <h3>検索結果</h3>
    <% @reports.each do |report| %>
    
    <table>
      <tr>
        <td>行先</td>
        <td><%= report.destination %></td>
      </tr>
      <tr>
        <td>時期</td>
        <td><%= report.month %><%= report.season %></td>
      </tr>
      <tr>
        <td>泊数</td>
        <td><%= report.number_of_nights %></td>
      </tr>
      <tr>
        <td>交通手段</td>
        <td><%= report.transportation %></td>
      </tr>
      <tr>
        <td>予算</td>
        <td><%= report.budget %></td>
      </tr>
    </table>
    <a href="/reports/<%= report.id %>">この旅行記を見る</a>
    <% end %>
  <%= paginate(@reports) %>
</div>