<div class="contents">
  <h3>旅行記詳細</h3>
    <table>
      <tr>
        <td>投稿者</td>
        <td><%= @report.user.nickname %>さん</td>
      </tr>
      <tr>
        <td>行き先</td>
        <td><%= @report.destination %></td>
      </tr>
      <tr>
        <td>時期</td>
        <td><%= @report.month %><%= @report.season %></td>
      </tr>
      <tr>
        <td>泊数</td>
        <td><%= @report.number_of_nights %></td>
      </tr>
      <tr>
        <td>交通手段</td>
        <td><%= @report.transportation %></td>
      </tr>
      <tr>
        <td>予算</td>
        <td><%= @report.budget %></td>
      </tr>
      <tr>
        <td>旅行記</td>
        <td><%= @report.text %></td>
      </tr>
    </table>
    <a href="/reports">旅行記一覧に戻る</a>
</div>